:root {
  --color-verdemarinho: #66cdaa;
  --color-verdeazulado: #2f4f4f;
  --color-verdemusgo: #006400;
  --color-branco: #ffffff;
  --color-preto: #1c1c1c;
  --color-cinza: #696969;
  --color-brancoverde: #d7e4d4;
  --color-verdeamaralo: rgb(148, 206, 61);
  --color-brancoback: #f9fdd4;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.img_logo1 {
  width: 60px;
}

.header,
.navigation_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header {
  background-color: var(--color-branco);
  box-shadow: 1px 1px 4px var(--color-verdeazulado);
  height: 90px;
  justify-content: space-between;
  padding: 0 10%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-brancoback);
  color: var(--color-preto);
}

header {
  display: grid;
  place-items: center;
  margin: 15px;
  padding: 10px;
  height: 10px;
  width: 300px;
  place-items: stretch;
  display: flex;
  background-color: greenyellow;
}

.navigation_header {
  gap: 2.5em;
  z-index: 2;
}
.txtpt2{
  display:flex;
  flex: wrap;
  align-items:center;
  margin: 20px 60px 20px 60px;
  display: flex;
}

.txtpt2 p{
  padding-top: 0px;
  padding-bottom: 75px;
  padding-left: 250px;
  padding-right: 250px;
}

.txtpt2 h1{
  margin: 0;
  padding-left: 425px;
}
.navigation_header a {
  text-decoration: none;
  color: var(--color-verdeazulado);
  transition: 1.5s;
  font-weight: bold;
}

.active:hover {
  color: var(--color-branco);
  padding: 10px;
  border: 10px;
  background-color: var(--color-verdeamaralo);
  padding: 10px;
  border-radius: 10px;
  
}

.header_user i{
 	display: inline-block;
	height: 60px;
	width: 60px;
	background-color: var(--color-branco);
	margin:0 15px 15px 0;
	text-align: center;
	line-height: 60px;
	border-radius: 50%;
	color: var(--color-verdeazulado);
	transition: all 0.5s ease;
  font-size: 35px;
}

.header_user i:hover{
  color: var(--color-brancoback);
	background-color:var(--color-verdeamaralo);
}

.content {
  text-align: center;
  padding-top: 5em;
  height: 100vw;
  transition: 1s;
}

.btm_icon_header {
  background-color: transparent;
  border: none;
  color: var(--color-verdeazulado);
  cursor: pointer;
  display: none;
  
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	  background-color: #FDFFEA;
    padding: 70px 0;
    box-shadow: 1px 1px 1px 3px var(--color-verdeazulado);
  }
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #30a530;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #7dc67d;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #318231;
	text-decoration: none;
	font-weight: 300;
	color: #30a530;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color:#7dc67d;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #006400;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color:#7dc67d;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}